  /* Black out any spoilers */
  .spoiler {
    color: black;
    background-color: black;
  }

  .spoiler a:link {
    color: black;
    background-color: black;
  }

  .spoiler a:visited {
    color: black;
    background-color: black;
  }

  /* When hovered over, reveal original text. */
  .spoiler:hover {
    background-color: white;
  }

  .spoiler:hover a:link {
    background-color: white;
    color: blue;
  }

  .spoiler:hover a:visited {
    background-color: white;
    color: blueviolet;
  }